[Unit]
Description=Pleroma update bot
After=network.target postgresql.service

[Service]
User=root
WorkingDirectory=/var/pleroma
ExecStart=/var/pleroma/pleromabot/update.py
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure
RestartSec=15s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
Alias=pleromabot.service

